<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clipnote</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link href="static/css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body>
    <div class="navbar">
      <a href="/" style="display: flex; align-items: center; gap: 10px">
        <img
          src="/static/assets/clipnote-logo-64x64.png"
          data-dark="/static/assets/clipnote-logo-64x64.png"
          data-light="/static/assets/clipnote-logo-light-64x64.png"
          alt="Clipnote Logo"
          class="logo"
          id="clipnote-logo"
        />
        <h1>Clipnote</h1>
      </a>
      <label class="theme-switch">
        <input type="checkbox" id="theme-toggle" />
        <span class="slider">
          <i data-lucide="sun" class="icon sun"></i>
          <i data-lucide="moon" class="icon moon"></i>
        </span>
      </label>
    </div>

    <div class="container">
      <div class="search-box">
        <input type="text" id="search" placeholder="Search notes..." />
      </div>
      <div id="labels"></div>
      <br />
      <div class="cards" id="notes-container"></div>
    </div>
    <script src="static/js/dashboard.js"></script>
  </body>
</html>
